    @model BookFormViewModel
    @{
    ViewData["Title"] = "Books Form";
    }
<div class="alert  bg-light-primary border border-primary border-3 border-dashed d-flex  flex-sm-row w-100 p-5 mb-10" style="justify-content: space-between;">
            <div style=" display: flex; align-items: center;">
                <div class="symbol symbol-50px me-4">
                    <div class="symbol-label fs-2 fw-semibold text-success">
                        <!--begin::Svg Icon | path: /var/www/preview.keenthemes.com/kt-products/docs/metronic/html/releases/2023-03-24-172858/core/html/src/media/icons/duotune/abstract/abs027.svg-->
                        <span class="svg-icon svg-icon-2x svg-icon-primary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
                                    <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                                </svg>
                        </span>
                        <!--end::Svg Icon-->
                    </div>
                </div>
                <div>
                        <h3 class="d-flex flex-column pe-0 pe-sm-10"> 
                            @(Model.Id.Equals(0) ? "Add":"Edit") Book </h3>
                </div>
            </div>
</div>


<div class="card shadow-sm">
   
  <div class="card-body">
        @*        //enctype to uploda file to server !!!!!!!!!!!!!!!!!!!
        *@

        <form method="post" asp-controller="Book"  enctype="multipart/form-data" id="Form">
                @if(Model.Id>0)
                {
                    <input type="hidden" asp-for="Id" />
                }
             <div class="m-10">
                <!--begin::Image input-->
                <div class="image-input image-input-empty m-10" data-kt-image-input="true" style="background-image: url(@(string.IsNullOrEmpty(Model.ImageUrl) ? "/Images/books/no-imge.jpeg" : Model.ImageUrl ))">
                    <!--begin::Image preview wrapper-->
                    <div class="image-input-wrapper w-350px h-450px"></div>
                    <!--end::Image preview wrapper-->

                    <!--begin::Edit button-->
                    <label class="btn btn-icon btn-circle btn-color-muted btn-active-color-primary w-25px h-25px bg-body shadow"
                    data-kt-image-input-action="change"
                    data-bs-dismiss="click"
                        <i class="ki-duotone ki-pencil fs-6"><span class="path1"></span><span class="path2"></span></i>

                        <!--begin::Inputs-->
                        <input type="file" asp-for="Image" accept=".png, .jpg, .jpeg" />
                        <input type="hidden" name="avatar_remove" />
                        <!--end::Inputs-->
                    </label>
                    <!--end::Edit button-->

                    <!--begin::Cancel button-->
                    <span class="btn btn-icon btn-circle btn-color-muted btn-active-color-primary w-25px h-25px bg-body shadow"
                    data-kt-image-input-action="cancel"
                    data-bs-dismiss="click"
                        <i class="ki-outline ki-cross fs-3"></i>
                    </span>
                    <!--end::Cancel button-->

                    <!--begin::Remove button-->
                    <span class="btn btn-icon btn-circle btn-color-muted btn-active-color-primary w-25px h-25px bg-body shadow"
                            data-kt-image-input-action="remove"
                             data-bs-dismiss="click"
                            <i class="bi bi-x-circle"></i>
                     </span>
                    <!--end::Remove button-->
                </div>
                <div class="form-text"> Allowed file types:png, jpg, jpeg and cannot be more then 2 mg.</div>
                      <span asp-validation-for="Image" class="text-danger d-block"></span>
                    <!--end::Image input-->
            </div>
                   
               <div class="row">
                    <div class="col-md-5">
                        <div class="row">
                               <div class="mb-5">   
                                    <div class="form-floating mb-2">
                                        <input type="text" class="form-control form-control-solid"  placeholder="Title" asp-for="Title"/>
                                        <label asp-for="Title"></label>
                                     </div>
                               <span asp-validation-for="Title" class="text-danger d-block"></span>

                                   </div> 
                        </div> 
                    
                    <div class="row">
                               <div class="mb-5">   
                                    <div class="form-floating mb-2">
                                        <select class="form-select form-select-solid js-select2" data-placeholder="select Author" asp-for="AuthorId" asp-items="@Model.Authors">
                                          <option value="">Select Author</option>
                                        </select>                                 
                                    </div>
                                    <span asp-validation-for="AuthorId" class="text-danger d-block"></span>

                          </div>
                    </div>  
                    <div class="row">
                               <div class="mb-5">   
                                    <div class="form-floating mb-2">
                                        <select class="form-select form-select-solid  js-select2" data-placeholder="select categories" asp-for="SelectedCategories" asp-items="@Model.categories">
                                          <option >Categories</option>
                                        </select>                                 
                                     </div>
                                    <span asp-validation-for="SelectedCategories" class="text-danger d-block"></span>

                          </div>
                    </div>  
                     <div class="row">
                               <div class="mb-5">   
                                    <div class="form-floating mb-2">
                                        <input type="text" class="form-control form-control-solid"  placeholder="Publisher" asp-for="Publisher"/>
                                        <label asp-for="Publisher"></label>
                                     </div>
                               <span asp-validation-for="Publisher" class="text-danger d-block"></span>

                          </div>
                    </div> 
                    <div class="row">
                               <div class="mb-5">   
                                    <div class="form-floating mb-2">
                                        <input type="date" class="form-control form-control-solid" id="kt_datepicker_1" placeholder="Publisher Date" asp-for="PublishingTime"/>
                                        <label asp-for="PublishingTime"></label>
                                     </div>
                               <span asp-validation-for="PublishingTime" class="text-danger d-block"></span>

                                   </div> 
                    </div>
                    <div class="row mb-2">
                        <div class="col">
                            <div class="form-check form-check-solid form-check-custom form-switch mb-2">
                                <input class="form-check-input" type="checkbox" asp-for="IsAvailableForRental">
                                <label class="form-check-label" asp-for="IsAvailableForRental"></label>
                            </div>
                        </div>
                    </div>
                    
                    
                    
                    
                    @*
                    <div class="row">
                          <div  class="col-md-6">
                               <div class="mb-5">  
                                   <div>
                                       <img  id="changedPicture"  class="img-thumbnail" alt="Book Image">
                                   </div>

                                    <div class="form-floating mb-2">
                                        <input type="file" class="form-control form-control-solid"  placeholder="Upload Image" asp-for="Image" accept=".jpg,.jpeg,.png"
                                           onchange="document.getElementById('changedPicture').src = window.URL.createObjectURL(this.files[0])" />  
                                   <label asp-for="Image"></label>
                                     </div>

                               </div> 
                          </div>
                    </div> *@
                    <div class="row">
                               <div class="mb-5">   
                                    <div class="form-floating mb-2">
                                        <input type="text" class="form-control form-control-solid"  placeholder="Hall Name" asp-for="Hall"/>
                                        <label asp-for="Hall"></label>
                                     </div>
                                      <span asp-validation-for="Hall" class="text-danger d-block"></span>
                                   </div> 
                    </div> 
                   
                 </div> 

                     <div class="col-md-7">
                        
                            <div class="row">
                                       <div class="mb-5">   
                                            <div class="form-floating mb-2">
                                                <textarea class="form-control form-control-solid pb-2" id="kt_docs_tinymce_basic" placeholder="Description" asp-for="Description"></textarea>
                                                <label  asp-for="Description"></label>
                                             </div>
                                            <span asp-validation-for="Description" class="text-danger d-block"></span>

                                        </div> 
                                  </div>
                                   </div> 

               </div>
                    


                   

        </form>
 </div>   
   
 <div class="card-footer">
       
     <button type="submit" class="btn btn-primary " form="Form">

            <span class="indicator-label">
                Submit
            </span>
            <span class="indicator-progress">
                Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
            </span>
    </button>      
    <a class="btn btn-light text-primary ms-3" asp-action="Index">Cancel</a>

 </div>
 </div>   

@section Scripts{
    <script src="~/assets/plugins/tinymce/tinymce.bundle.js"></script>
    <partial name="_ValidationScriptsPartial"/>
}