html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


/*star override them*/
.form-floating > .form-select {
    padding-top: 2.15rem;
    padding-bottom: 0.200rem;
}

.h-70px
{
    height: 70px !important
}


/*End override them*/


#Books_processing {
    height: 4px;
    background-color: #ccc;
    animation: progress 1s infinite linear;
}

@keyframes progress {
    0% {
        width: 0;
    }

    50% {
        width: 50%;
    }

    100% {
        width: 100%;
    }
}


/* Add this CSS to remove the dots */
#Books_processing > div > div {
    display: none;
}
