@model RentalFormViewModel
@{
    ViewData["Title"] = "Add Rental";
}
    <!--begin::Card-->
	<div class="card mb-7">
		<div class="card-header p-10">
			<h3 class="car	d-title">Add Rentel</h3>
		</div>
		<!--begin::Card body-->
		<div class="card-body">
		    <partial name="_SearchForm" model="new SearchFormViewModel()" />
		</div>
		<!--end::Card body-->
		<div class="card mb-5 mb-xl-8">
    
            <div class="card-header border-0 pt-5">
                <h3 class="card-title align-items-start flex-column">
			        <span class="card-label fw-bold text-dark">Books</span>
			        <span class="text-muted mt-1 fw-semibold fs-7">You can Add up to @Model.MaxAllowedCopy Book(s)</span>
		        </h3>
            </div>
        <!--end::Toolbar-->
         </div>



    <!--begin::Body-->
    <div class="card-body pt-5">
        <form asp-action="Create" id="CopiesForm">
            <input type="hidden" asp-for="SubscriberKey"/>
            @* Copies will be add here*@
              <button type="submit" class="btn btn-primary ">
                    <span class="indicator-label">
                        Submit
                    </span>
                    <span class="indicator-progress">
                        Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                    </span>
            </button>   
          </form>
              <!--end::Body-->

            </div>
       
</div>
	
	<!--end::Card-->

	@section Scripts 
{
	<partial name="_ValidationScriptsPartial" />
    <script>   
        var maxAllowedCopies=@Model.MaxAllowedCopy
    </script>
       <script src="/js/rentals-form.js" asp-append-version="true"></script>
}